@import '../../base';

.menu-item-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 1% 0 1%;
  width: 930px;
  max-height: 816px;
}
.category-tab {
  display: flex;
  background-color: $base-dark;
  width: 50px;
  height: 100px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: thin solid black;
  cursor: pointer;

  .category-selector {
    transform-origin: 0 0;
    transform: rotate(90deg);
    position: absolute;
    margin: 10px 0 0 30px;
  }
}
.category-tab:active {
  border-left: none;
}
.menu-item-container-inside {
  display: flex;
  flex-direction: column;
  background-color: $base-dark;
  padding-bottom: 2%;
  width: 100%;
}
.item-container::-webkit-scrollbar {
  display: none;
}
.item-container {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 9px;
}

.category-selectors {
  justify-self: end;
  padding: 0;
  margin: 0;
}
.item-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: flex-start;
}
