@import "../../base";
.menu-search-bar {
  background-color: $base-light;
  height: 40px;
  border: thin solid black;
}
.menu-search-input {
  background-color: $base-light;
  height: 100%;
  font-size: 25px;
  width: 100%;
}
