.table {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: move;
  color: white;
  background-color: blue;
  max-width: 215px;
  border-radius: 50%;
  padding: 1em;
  margin: auto;
  user-select: none;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);
}

.delete-table-layout {
  background: #fed32c;

  display: inline-block;
}

.delete-table-layout {
  width: 20px;
  height: 20px;
  border-radius: 5px;

  background-color: darkred;
  animation: jiggle 0.2s infinite;
  -webkit-animation: jiggle 0.2s infinite;
  -moz-animation-duration: 0.2s;
  -moz-animation-name: jiggle;
  -moz-animation-iteration-count: infinite;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
}

.layout-position-data {
  white-space: nowrap;
}
@keyframes jiggle {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
}

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(8deg);
  }
}

@-moz-keyframes jiggle {
  0% {
    -moz-transform: rotate(-8deg);
  }
  50% {
    -moz-transform: rotate(8deg);
  }
}
