.tables-container {
  width: 1024px;
  height: 768px;
  min-width: 1024px;
  background-color: #eae2b7;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  text-align: center;
}
