.table-screen-container {
  width: 1048px;
  height: 800px;
  border: solid;
  border-width: thin;
}

.layout-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  .side-container {
    grid-column: 2;
    grid-row: 1;
    max-height: 780px;
    overflow-y: auto;
  }

  .tables-container {
    width: 840px;
    height: 800px;
    background-color: #eae2b7;
    text-align: center;
  }
}
.edit-panel {
  position: fixed;
  top: 0;
  left: 840px;
}
