@import '../../base';

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .order-container::-webkit-scrollbar {
    display: none;
  }
  .prod-order {
    background-color: $base-dark;
    width: 150px;
    padding: 1em;
    margin-left: 2em;
    height: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .order-selected {
    border: thick solid $base-dark-accent;
  }
  .mark-complete {
    height: 50px;
    background-color: $base-dark-accent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.scroll-y {
  overflow-y: scroll;
  max-height: 200px;
}
.scroll-y::-webkit-scrollbar {
  display: none;
}
