.analytic-container {
  margin-top: 150px;
  width: 96%;
  margin-left: 2%;

  .options-button {
    display: flex;
    background-color: rgb(63, 58, 58);
    color: white;
    font-size: 1em;
    width: 200px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: thin solid black;
    justify-content: center;
    align-content: center;
  }

  .chart-container {
    height: 750px;
  }

  .analytic-buttons {
    display: flex;
    flex-direction: row;
  }
}
