@import "../../base";

.new-employee {
  color: $base-dark;
  background-color: $base-light;
  width: 300px;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);

  .employee-form {
    display: block;
    width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    .employee-name {
      border: 0;
      border-bottom: solid;
      border-color: $base-dark;
      display: block;
      width: 90%;
      margin-bottom: 0.5em;
      padding-left: 30px;
      background: url(/img/icons/userdark.png) no-repeat scroll;
      background-size: 24px 24px;
      padding-left: 30px;
    }
    .employee-email {
      border: 0;
      border-bottom: solid;
      border-color: $base-dark;
      display: block;
      width: 90%;
      margin-bottom: 0.5em;
      padding-left: 30px;
      background: url(/img/icons/maildark.png) no-repeat scroll;
      background-size: 24px 24px;
      padding-left: 30px;
    }

    .employee-pin {
      border: 0;
      border-bottom: solid;
      display: block;
      width: 90%;
      margin-bottom: 0.5em;
      background: url(/img/icons/lockdark.png) no-repeat scroll;
      background-size: 24px 24px;
      padding-left: 30px;
    }

    .employee-is-admin {
      border: 0;
      display: block;
      width: 90%;
      margin-bottom: 0.5em;
      width: 100%;
    }
  }
}

.create-employee-button {
  display: block;
  background-color: $border-dark;
  color: $base-light;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.4em;
}
.create-employee-button:hover {
  color: $base-dark;
  background-color: $base-light-accent;
}
textarea:focus,
input:focus {
  outline: none;
}

h3 {
  font-size: 10px;
}

.employee-name {
  border: 0;
  border-bottom: solid;
  border-color: $border-dark;
  display: block;
  width: 90%;
  margin-bottom: 0.5em;
  padding-left: 30px;
}
