@import "../../base.scss";

.employees-titles {
  width: 100vw;
  display: grid;
  margin-top: 100px;

  grid-template-columns: 0.5fr 1fr 1fr 3fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  .employees-h3 {
    font-size: 20px;
    font-weight: bolder;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: $base-light-accent;
    margin: 10px;
    border-color: $base-light-accent;
    white-space: nowrap;
  }
}
