@import '../../base';
.seat-item {
  background-color: $base-dark;
  border: black solid 1px;
  padding: 2%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seat-number {
  font-size: 1.25em;
}

.selected {
  background-color: $base-dark-accent;
}
