.home-main {
  display: flex;
  flex-direction: column;
  .logout-button {
    width: 100px;
    height: 100px;
  }
  .container {
    display: flex;
  }
  .logged-in {
    margin-top: 60px;
    display: flex;
  }
}
