.home-main {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  .logout-button {
    width: 100px;
    height: 100px;
  }
  .container {
    display: flex;
    height: 90vh;
  }
  .logged-in {
    margin-top: 60px;
    display: flex;
  }
}
