@import '../base';

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100%;
  background-color: $base-dark;

  #nav-menu {
    display: flex;
    height: 80px;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;

    .nav-menu-item {
      height: 90%;
      margin: 1%;
      color: $base-white;
      white-space: nowrap;
      padding: 15px 10px;
    }

    .nav-menu-item:hover {
      background-color: $base-dark-accent;
    }
    .nav-menu-item:link {
      text-decoration: none;
    }
    .screens {
      display: flex;
      align-items: center;
    }
  }
  .logged-in {
    color: $base-white;
    margin-right: 1%;
    width: 300px;
    text-align: right;
  }
}
.active {
  color: $base-dark;
  background-color: $base-dark-accent;
}
