@import "../base";

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100%;
  background-color: $base-dark;
  color: $base-white;
  #nav-menu {
    display: flex;
    background-color: $base-dark;
    width: 100%;
    max-width: 300px;
    height: 56px;
    font-size: 20px;
    font-weight: bolder;

    .nav-menu-item {
      margin: auto;
      padding-top: 14px;
      height: 42px;
      padding-left: 0.5em;
      padding-right: 0.5em;
      color: $base-white;
      white-space: nowrap;
    }

    .nav-menu-item:hover {
      background-color: $base-dark-accent;
    }
  }
}

.active {
  color: $base-dark;
  background-color: $base-dark-accent;
}
