@import '../base';

.table-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  overflow-y: hidden;
  background-color: $base-color;
}
.table-selectors {
  display: flex;
  min-width: 370px;
}
