@import "../base";

.table-item {
  background-color: $base-light;
  border: black solid 1px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selected {
  background-color: $base-light-accent;
}
.seats {
  margin: 0;
}
.employee {
  margin: 0;
}
.table-number {
  margin: 0;
  font-size: 3em;
}
