@import '../base';

.table-item {
  background-color: $base-dark;
  border: black solid 1px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-item:hover {
  border: 0.5px solid $base-white;
}
.table-item:focus {
  border: 0.5px solid $base-white;
}
.selected {
  background-color: $base-dark-accent;
}
.seats {
  margin: 0;
}
.employee {
  margin: 0;
}
.table-number {
  margin: 0;
  font-size: 3em;
}
