@import '../../base';

.bill-container {
  height: 70%;
  width: 40%;
  margin: 5%;
  padding: 5%;
  background-color: $project-white;

  .bill-item {
    display: flex;
    justify-content: space-between;
  }

  .bill-totals {
    text-align: right;
  }
  .bill-footer {
    margin-top: 10%;
  }
  p {
    margin: 0;
    margin-bottom: 2%;
    padding: 0;
    text-align: right;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
