@import "../../base";

.bill-container {
  padding: 2%;
  margin-left: 2%;
  background-color: $base-dark;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .bill-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bill-items {
    max-height: 475px;
    overflow-y: scroll;
    background-color: $base-dark;
  }
  .item {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
  }
  .mod {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 0;
    font-size: small;
  }
  .bill-totals {
    text-align: right;
    font-size: 1.5em;
  }
  .bill-footer {
    margin-top: 10%;
  }
  .buttons {
    display: flex;
    padding-top: 5%;
    flex-wrap: wrap;
    max-width: 450px;
    justify-content: space-evenly;
  }
  .button {
    height: 60px;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  .edit-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .confirm-cancel-buttons {
    display: flex;
  }
  .send-button {
    background-color: green;
  }
  .print-button {
    background-color: blue;
  }
  .edit-button {
    background-color: yellow;
  }
  .edit-input {
    border: thin solid black;
    height: 1.5em;
    font-size: 1.5em;
  }
  .edit-seat-button {
    background-color: coral;
  }
  .cancel-button {
    background-color: $base-cancel;
  }
  .pay-button {
    background-color: purple;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .opacity {
    opacity: 0.25;
  }
}
.dropdown {
  position: absolute;
  min-width: 230px;
  overflow: auto;
  z-index: 1;
  margin-top: 30px;
  margin-right: -159px;
  background-color: $base-light;
}
.print-dropdown {
  position: absolute;
  min-width: 230px;
  overflow: auto;
  z-index: 1;
  background-color: $base-light;
}
.pay-dropdown {
  position: absolute;
  overflow: auto;
  z-index: 1;
  background-color: $base-light;
}
.pay-by-seat-button {
  border: thin solid black;
  font-size: 1.5em;
  background-color: $base-light;
}
.pay-by-seat-button:hover {
  background-color: $base-light-accent;
}
.pay-button-text {
  padding: 5px;
  text-align: left;
}
.inputs-container {
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
  padding: 0;
  text-align: right;
}
ul {
  margin: 0;
  padding: 0;
}
