@import "../../base";

.bill-container {
  height: 70%;
  width: 40%;
  margin: 5% 0 5% 5%;
  padding: 5%;
  background-color: $project-white;

  .bill-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bill-items {
    max-height: 300px;
    overflow-y: scroll;
  }
  .item {
    display: flex;
    justify-content: space-between;
  }
  .mod {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 0;
    font-size: small;
  }
  .bill-totals {
    text-align: right;
  }
  .bill-footer {
    margin-top: 10%;
  }
  .buttons {
    display: flex;
    padding-top: 5%;
  }
  .button {
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .edit-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .confirm-cancel-buttons {
    display: flex;
  }
  .send-button {
    background-color: green;
  }
  .print-button {
    background-color: blue;
  }
  .edit-button {
    background-color: yellow;
  }
  .edit-input {
    border: thin solid black;
  }
  .cancel-button {
    background-color: red;
  }
  .pay-button {
    background-color: purple;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .opacity {
    opacity: 0.25;
  }
  p {
    margin: 0;
    margin-bottom: 2%;
    padding: 0;
    text-align: right;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
.dropdown {
  position: absolute;
  min-width: 230px;
  overflow: auto;
  z-index: 1;
  margin-top: 30px;
  margin-right: -159px;
  background-color: $project-white;
}
.print-dropdown {
  position: absolute;
  min-width: 230px;
  overflow: auto;
  z-index: 1;
  background-color: $project-white;
}
