@import '../../base';

.bill-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5%;

  .flex-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 3%;
  }

  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 2%;
  }
}
