@import "../../base";
.modal {
  background-color: $base-light;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  .hidden {
    display: none;
  }
  .close {
    height: 250px;
    width: 250px;
    font-size: 200px;
    background-color: $base-cancel;
  }
}
