$base-dark: #2c2636;
$base-light: #ede8d7;
$base-light-accent: #ea7552;
$base-dark-accent: #4ba99a;
$base-main-color: #736e65;

$base-cancel: #f44336;

$base-color: #2c2636;
$project-white: #fbfbf9;
$base-lighter: #babdbc;
$base-highlight: #fdd;
$border-dark: rgba($base-color, 0.88);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $base-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: $base-dark-accent;
}
